* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

button, 
input[type="submit"], 
input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  padding: .5rem 2rem;
  width: max-content;
  color: white;
  border-radius: 4px;
  background-color: rgb(91, 159, 36);
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.hero {
  flex: 1;
  background-color: red;
}

.form-area {
  flex: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem;
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}


.form-area__forms {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border-radius: 5px;
  padding: 4px 8px;
  gap: 4px;

  box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.1);
}


.form > input {
  all: unset;
  border-radius: 5px;
  padding: 4px 8px;
  width: 12rem;
  border: 1px solid transparent;
}

.form > input:invalid {
  border: 1px solid rgba(255, 0, 0, 0.5);
}

.form > input:valid::after {
  position: absolute;
  top: 0;
  bottom: 0;
  content: '✔️';
  color: green;
}



.form > label {
  font-size: .7rem;
}

.form-area__disclaimer-text {
  font-size: 2rem;
}