* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

button, 
input[type="submit"], 
input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  padding: .5rem 2rem;
  width: max-content;
  color: white;
  border-radius: 4px;
  background-color: rgb(91, 159, 36);
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.hero {
  flex: 1;
  background-color: rgb(76, 255, 183);
}

.form-area {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 1rem 4rem 4rem;
  background-color: rgb(36, 44, 54);
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}


.form-area__forms {
  display: flex;
  flex-wrap: wrap;
  max-width: 35rem;
  gap: 2rem 2rem;
}

.form-container {
  position: relative;
}

.form {
  position: relative;
  display: flex;
  flex: 1 0 40%;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(25, 31, 39);
  border-radius: 5px;
  padding: 8px;
  gap: 4px;

  box-shadow:
    inset 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.form > input::placeholder {
  opacity: 50%;
  user-select: none;
}

.form > input {
  all: unset;
  border-radius: 5px;
  padding: 4px 8px;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}

.form > input:invalid {
  border: 1px solid rgba(255, 0, 0, 0.5);
}

.form > input:focus:invalid {
  border-color: transparent;
  border-bottom-color: rgb(255, 0, 0);
}

.form > input:focus:valid {
  border-color: transparent;
  border-bottom-color: rgb(12, 182, 0);
}

.valid::after {
  position: absolute;
  content: '✔️';
  right: .3rem;
  top: .3rem;
  font-size: .7rem;
  color: rgb(12, 182, 0);
  transition: all 1s ease-in-out;
}

.form > input:placeholder-shown {
  border-color: transparent;
}


.form > label {
  position: relative;
  font-size: .7rem;
  opacity: .5;
}

.form-container__text {
  position: absolute;
  font-size: .7rem;
  color: #ff3232;
  user-select: none;
  white-space: nowrap;
}

.form-area__disclaimer-text {
  font-size: 2rem;
}
